<% if @file_path %>
  $('.btn-lg').append('<a href="/download/<%= @file_path %>">Download</a>');
  $('.spinner').remove();
  // TODO:
  // Add SHA to the download button...
<% else %>
  $('.container.wall').prepend("<%=j render partial: 'welcome/error_message' %>");
  $('.download_box').remove();
<% end %>

// $('.form-control').val('');
